#definir les services

services:  
  geoserver:   # service 1 : geoserver (nommer par le developeur)
    container_name: geonum_geoserver  # retrouver dans la liste des conteneur dans docker
    image: docker.osgeo.org/geoserver:2.26.0  # docker à besoin d'une image (voir les images oficiel) = qu'est ce qu'il y a dans le conteneur
    environment:  # definir des variable d'environnement
      - RUN_UNPRIVILEGED=true
      - CHANGE_OWNERSHIP_ON_FOLDERS="/opt /opt/geoserver_data/ /mnt/geoserver_geodata"
      - CORS_ENABLED=true
      - SKIP_DEMO_DATA=true
    ports:  # definir le port de la machine : externe et celui du conteneur : interne
      - "8080:8080"
    volumes:  # Stocke de la donnée du conteneur pour éviter de perdre la donnée aprés la fin de l'utilisation de docker 
      - ./geoserver/opt:/opt/geoserver_data

  web:  # service 2 : web (nommer par le developeur)
    container_name: geonum_web
    image: caddy:latest
    ports:
      - "80:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./app/dist/:/srv
